<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
  <meta charset="text/html; UTF-8">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Add product form</title>
</head>
<body>
<h1>Add a new product</h1>
<form action="#" th:action="@{/product/add}" th:object="${product}" method="post">
  <p>Id: <input type="text" th:field="*{id}" /></p>
  <p> Name: <input type="text" th:field="*{name}" /></p>
  <p>Weight: <input type="number" th:field="*{weight}" /></p>
  <p>Price: <input type="number" th:field="*{price}" /></p>
  <p>Category: <input type="text" th:field="*{category}" /></p>
  <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>