<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
  <meta charset="text/html; UTF-8">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Details</title>
</head>
<body>
<h1>Details</h1>
<p>
  <table  class="table table-striped table-bordered" th:object="${product}">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id</td>
      <td th:text="*{id}"></td>
    </tr>
    <tr>
      <td> Name</td>
      <td th:text="*{name}"></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td th:text="*{weight}"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td th:text="*{price}"></td>
    </tr>
    <tr>
      <td>Category</td>
      <td th:text="*{category.getName()}"></td>
    </tr>
  </tbody>
</table>
</p>
</body>
</html>