<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
    <meta charset="text/html; UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Add category form</title>
</head>
<body style="padding-left: 1em">
<h1>Add a new category</h1>
<form class="form form-horizontal" role="form" action="#" th:action="@{/category/add}" th:object="${category}"
      method="post">

    <div class="form-group">
        <div class="col-md-3">
            <label for="Id" class="form-label">ID</label>
            <input type="number" th:field="*{id}" class="form-control" id="Id" aria-describedby="idHelp">
            <div id="idHeplp" class="form-text">Must be positive and unique</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label for="Name" class="form-label">category name</label>
            <input type="text" th:field="*{name}" class="form-control" id="Name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label for="Code" class="form-label">Code</label>
            <input type="number" th:field="*{code}" class="form-control" id="Code" aria-describedby="CodeHelp">
            <div id="CodeHelp" class="form-text">Must be positive</div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Add"/>
    <input type="reset" class="btn btn-danger" value="Reset"/>
</form>
</body>
</html>